@font-face {
  font-family: Suisse;
  src: url(../fonts/SuisseIntl-Regular-WebM.woff2) format('woff2'),
    url(../fonts/SuisseIntl-Regular-WebM.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Suisse;
  src: url(../fonts/SuisseIntl-Bold-WebM.woff2) format('woff2'),
    url(../fonts/SuisseIntl-Bold-WebM.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}
*,
::before,
::after {
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
blockquote,
body,
dd,
dl,
dt,
figcaption,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
li,
ol,
p,
pre,
table,
ul {
  margin: 0;
  padding: 0;
}
embed,
img,
object,
video {
  max-width: 100%;
  height: auto;
}
figure img {
  display: block;
}
html {
  font-size: 100%;
  overflow-x: hidden;
  height: 100%;
  background: #fff;
  scroll-behavior: smooth;
}
body {
  font-family: Suisse, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  min-width: 300px;
  min-height: 100vh;
  color: #323232;
  background: #fff;
}
.o-bleed {
  width: 100%;
  max-width: calc(100% - 10vw);
  margin: 0 5vw;
}
.tk-main-heading__title {
  padding: 40px 5vw 0;
}
.tk-main-heading__link {
  text-decoration: none;
  color: inherit;
}
.tk-main-heading__link:hover {
  text-decoration: underline;
}
.profile-tagline {
  font-size: 1.25rem;
}
.profile-description {
  font-size: 1.125rem;
  margin: 20px 0;
}
.landing-section {
  margin-top: 40px;
}
.section-title {
  font-size: 2rem;
}
