// Fonts
@font-face {
  font-family: Suisse;
  src: url(../fonts/SuisseIntl-Regular-WebM.woff2) format("woff2"),
    url(../fonts/SuisseIntl-Regular-WebM.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Suisse;
  src: url(../fonts/SuisseIntl-Bold-WebM.woff2) format("woff2"),
    url(../fonts/SuisseIntl-Bold-WebM.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

// Mixins
$max-content-width: 46.25em;
$tablet-break: 550px;

// Variables and colours
:root {
  --primary-text: #323232;
}

// Resets and defaults
*,
::before,
::after {
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

blockquote,
body,
dd,
dl,
dt,
figcaption,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
li,
ol,
p,
pre,
table,
ul {
  margin: 0;
  padding: 0;
}

embed,
img,
object,
video {
  max-width: 100%;
  height: auto;
}

figure img {
  display: block;
}

// Themes and customisations
.t-jp {
  font-family: "Sawarabi Gothik", Hiragino, Meiryo, sans-serif;
}

// General
html {
  font-size: 100%;
  overflow-x: hidden;
  height: 100%;
  background: #fff;
  scroll-behavior: smooth;
}

body {
  font-family: Suisse, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  min-width: 300px;
  color: var(--primary-text);
  background: #fff;
}

.o-bleed {
  width: 100%;
  max-width: calc(100% - 10vw);
  margin: 0 5vw;
  @media screen and (min-width: $max-content-width) {
    max-width: $max-content-width;
    margin: 0 auto;
    padding: 0 5.25em;
  }
}

// Header
.tk-main-heading {
  position: relative;
  margin-top: 1em;

  &-wrapper {
    display: flex;
    margin-left: 5vw;
    @media screen and (min-width: $max-content-width) {
      max-width: $max-content-width;
      margin: 0 auto;
      padding: 0 5.25em;
    }
  }

  &__title {
    position: relative;
    z-index: 2;
    display: inline-block;
    overflow: hidden;
    padding: 0 20px;
    transition: 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: 3px solid var(--primary-text);
    background-color: #fff;

    &::after {
      position: absolute;
      top: -10%;
      left: 0;
      display: block;
      width: 200px;
      height: 200px;
      content: "";
      transition: 280ms linear 0ms;
      transform: rotate(45deg) translate(-120%, 65%) scale(0);
      background-color: #212121;
    }

    &:hover {
      transform: scale(1.1);

      &::after {
        transform: rotate(45deg) translate(-50%, 0) scale(1);
      }

      a {
        color: #fff;
      }
    }
  }

  &__link {
    position: relative;
    z-index: 3;
    transition: color 140ms linear 140ms;
    text-decoration: none;
    color: inherit;
  }

  &__bar {
    position: absolute;
    top: 30%;
    width: 100%;
    height: 5px;
    background-color: var(--primary-text);
  }
}

// Landing
.profile {
  &-header {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $tablet-break) {
      &__text {
        order: 2;
      }
    }
  }

  &-heading {
    font-size: 1.5rem;
  }

  &-tagline {
    font-size: 1.125rem;
  }

  &-picture {
    margin-bottom: 2em;
    border: 3px solid var(--primary-text);
    @media screen and (min-width: $tablet-break) {
      margin-bottom: 0;
    }
  }

  &-description {
    font-size: 1.125rem;
    margin: 20px 0;
  }
}

.landing-section {
  margin-top: 40px;
}

.section-title {
  font-size: 2rem;
}
